<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Code with a view</title>
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>
    <body>
        <header id ="header1">
            <nav>
              <ul>
                  <li>Acceuil</li>
                  <li>A propos</li>
                  <li>Tarifs</li>
              </ul>
          </nav>
            
        </header>
        
        
       <main>
           
       </main>
        
    </body>
</html>