#header1{

            @media(max-width:768px){
            
            display:none;
            }

}
body > main{
    
    @media(max-width:768px){
        display:flex;
        flex-direction:column;
    }
}


// main section:nth-child(1) h1{
    
//      @media(max-width:360px){
//         padding-top:10%;
//          }
// }

@media(max-width:768px){
    
    
    #h1{
        padding-top:10%;
        font-size:55px;
    width:35%;
    }
    #h2{
        width:40%;
    }
    #article{
        position:absolute;
        height:70%;
        margin-left:25%;
        min-width:200px;
        padding-top:0vh;
        margin-top:8vh;
    }
}