/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "vars";
@import "reset";
@import "responsive";

body{
    height:100vh;
    color:white;
   Background: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);
}

#header1{
    
    width:100%;
    height:12vh;
    border-bottom:1px solid white;
   
    nav{
        height:100%;
          width:100%;
        ul{
            height:100%;
                display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
            li{
                align-self:center;
                justify-self:center;
            }
            li:nth-child(1){
                grid-colum:1/2;
            }
            li:nth-child(2){
                
            }
            li:nth-child(3){
                
            }
        }
    }
}

main{
    
    height:88vh;
 
    display:grid;
    grid-template-columns: 1fr 1fr;
    
    
    
    section:nth-child(1){
        
        h1{
             width:72%;
            font-size:40px;
            align-self:center;
                justify-self:center;
                margin:auto;
                padding-top:30%
        }
        h2{
            font-size:32px;
            width:72%;
            align-self:center;
                justify-self:center;
                margin:auto;
                font-weight:bold;
        }
        
    }
    section:nth-child(2){
        article{
            background-color:rgba( 0, 0 ,0,0.2);
           
            width:50%;
            height:80%;
            margin-top:8vh;
              padding-top:4vh;
              border-radius:3%;

           
              align-self:center;
                justify-self:center;
                
                display:grid;
                grid-template-rows:2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                
                header{
                    width:90%;
                    height:90%;
                    margin:auto;
                    padding-top:1%;
                    border-bottom:1px solid white;
                    display:grid;
                    grid-template-columns:2fr 1fr ;
                    title{
                        display:block;
                          align-self:center;
                        
                
                    }
                      title:nth-child(1){
                        color:#692ABA;
                      font-size:20px;
                
                    }
                      title:nth-child(2){
                        font-size:24px;
                        
                
                    }
                    
                    img{
                        width:100%;
                        height:90%;
                        grid-row:1/3;
                        grid-column:2/3;
                    }
                }
                section{
                    width:80%;
                    height:90%;
                    margin: 0 auto;
                    display:grid;
                    grid-template-columns:1fr 5fr ;
                    border-bottom:1px solid brown;
                    opacity:50%;
                    img{
                        
                         width:100%;
                        height:90%;
                    }
                    title{
                        display:block;
                        margin-left:5%;
                        align-self:center
                      
                    }
                    
                }
                
        }
    }
}

#truc{
    opacity :100%;
}
#machin{
    border:0px solid ;
}